@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0d1172;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #5e5379;
    top: 60%;
    left: 70%;
    animation-duration: 42s;
    animation-delay: -47s;
    transform-origin: -23vw 14vh;
    box-shadow: 40vmin 0 5.462969152925611vmin currentColor;
}

.background span:nth-child(1) {
    color: #5e5379;
    top: 97%;
    left: 13%;
    animation-duration: 26s;
    animation-delay: -33s;
    transform-origin: -12vw -3vh;
    box-shadow: -40vmin 0 5.012405192519816vmin currentColor;
}

.background span:nth-child(2) {
    color: #5e5379;
    top: 15%;
    left: 22%;
    animation-duration: 42s;
    animation-delay: -13s;
    transform-origin: -5vw 10vh;
    box-shadow: -40vmin 0 5.899503439799378vmin currentColor;
}

.background span:nth-child(3) {
    color: #bccdbc;
    top: 78%;
    left: 83%;
    animation-duration: 13s;
    animation-delay: -3s;
    transform-origin: -6vw 21vh;
    box-shadow: -40vmin 0 5.879268575878637vmin currentColor;
}

.background span:nth-child(4) {
    color: #bccdbc;
    top: 67%;
    left: 82%;
    animation-duration: 48s;
    animation-delay: -46s;
    transform-origin: 12vw 6vh;
    box-shadow: 40vmin 0 5.96515903665594vmin currentColor;
}

.background span:nth-child(5) {
    color: #bd8e28;
    top: 72%;
    left: 55%;
    animation-duration: 34s;
    animation-delay: -11s;
    transform-origin: 6vw 11vh;
    box-shadow: 40vmin 0 5.364237839018212vmin currentColor;
}

.background span:nth-child(6) {
    color: #5e5379;
    top: 41%;
    left: 57%;
    animation-duration: 46s;
    animation-delay: -40s;
    transform-origin: 19vw 4vh;
    box-shadow: -40vmin 0 5.175013720141075vmin currentColor;
}

.background span:nth-child(7) {
    color: #bd8e28;
    top: 30%;
    left: 9%;
    animation-duration: 45s;
    animation-delay: -23s;
    transform-origin: -12vw -15vh;
    box-shadow: 40vmin 0 5.177714272045303vmin currentColor;
}

.background span:nth-child(8) {
    color: #5e5379;
    top: 44%;
    left: 18%;
    animation-duration: 23s;
    animation-delay: -14s;
    transform-origin: 4vw 1vh;
    box-shadow: 40vmin 0 5.106074456723112vmin currentColor;
}

.background span:nth-child(9) {
    color: #bd8e28;
    top: 15%;
    left: 40%;
    animation-duration: 32s;
    animation-delay: -15s;
    transform-origin: 12vw -6vh;
    box-shadow: 40vmin 0 5.950919280274038vmin currentColor;
}

.background span:nth-child(10) {
    color: #5e5379;
    top: 74%;
    left: 65%;
    animation-duration: 38s;
    animation-delay: -6s;
    transform-origin: -15vw -6vh;
    box-shadow: 40vmin 0 5.2469072846036005vmin currentColor;
}

.background span:nth-child(11) {
    color: #5e5379;
    top: 15%;
    left: 79%;
    animation-duration: 50s;
    animation-delay: -8s;
    transform-origin: 0vw 2vh;
    box-shadow: 40vmin 0 5.432410192127669vmin currentColor;
}

.background span:nth-child(12) {
    color: #bd8e28;
    top: 50%;
    left: 55%;
    animation-duration: 16s;
    animation-delay: -10s;
    transform-origin: 3vw -8vh;
    box-shadow: -40vmin 0 5.891660242288427vmin currentColor;
}

.background span:nth-child(13) {
    color: #5e5379;
    top: 89%;
    left: 4%;
    animation-duration: 17s;
    animation-delay: -14s;
    transform-origin: 8vw -20vh;
    box-shadow: -40vmin 0 5.583558700805323vmin currentColor;
}

.background span:nth-child(14) {
    color: #5e5379;
    top: 13%;
    left: 42%;
    animation-duration: 41s;
    animation-delay: -1s;
    transform-origin: 11vw 22vh;
    box-shadow: 40vmin 0 5.793928690669192vmin currentColor;
}

.background span:nth-child(15) {
    color: #5e5379;
    top: 80%;
    left: 99%;
    animation-duration: 23s;
    animation-delay: -15s;
    transform-origin: -10vw -5vh;
    box-shadow: 40vmin 0 5.854486340547121vmin currentColor;
}

.background span:nth-child(16) {
    color: #bccdbc;
    top: 49%;
    left: 30%;
    animation-duration: 20s;
    animation-delay: -39s;
    transform-origin: 21vw -5vh;
    box-shadow: 40vmin 0 5.639263650692353vmin currentColor;
}

.background span:nth-child(17) {
    color: #bd8e28;
    top: 80%;
    left: 26%;
    animation-duration: 20s;
    animation-delay: -19s;
    transform-origin: -13vw -10vh;
    box-shadow: 40vmin 0 5.611504189173977vmin currentColor;
}

.background span:nth-child(18) {
    color: #bccdbc;
    top: 13%;
    left: 66%;
    animation-duration: 21s;
    animation-delay: -2s;
    transform-origin: 11vw -2vh;
    box-shadow: 40vmin 0 5.062438463116488vmin currentColor;
}

.background span:nth-child(19) {
    color: #5e5379;
    top: 54%;
    left: 74%;
    animation-duration: 17s;
    animation-delay: -2s;
    transform-origin: 18vw 13vh;
    box-shadow: 40vmin 0 5.390034612592803vmin currentColor;
}





#message-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 10px;
    margin-bottom: 10px;
    height: 100vh;
    width: 100vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: #999;
    font-size: 0.8em;
}



.message-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text bubble */
.message-bubble {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background-color: #f0f0f0;
    width: 13vw;
    height: 20vh;
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

#delete-btn {
    
    margin-top: 10px;
    cursor: pointer;
}

#submit-btn:hover {
    cursor: pointer;

}

.submit-button:hover {
    box-shadow: 0 0 10px #0000FF;
}

.submit-button {
    margin-top: 10px;
    padding: 10px;
    transition: box-shadow 0.5s ease;
    border-radius: 25px;
}

.submit-button:hover {
    color: #f0f0f0;
    background-color: transparent;
    box-shadow: 0 0 10px #007AFF;
}

#delete-btn:hover {
    background-color: transparent;
    box-shadow: 0 0 10px #007AFF;
}

#welcome-text,
h3 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #f0f0f0;
    font-size: large;
}

#logohome {
    font-family: sans-serif;
    font-size: large;
}

.bird-logo:hover {
    transform: scale(1.2);
}
.bird-logo:hover {
    transform: rotate(360deg);
    filter: brightness(150%);
}
.bird-logo {
    transition: all 0.2s ease-in-out;
}

#namelogo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;

}

.navbar-link:hover .name-logo {
    color: blue;
  }
  .name-logo {
    transition: all 0.2s ease-in-out;
    color: #007AFF;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
